.hero {
  height: 70vh;
  width: 165vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("https://www.shutterstock.com/image-photo/africanamerican-woman-eating-vegetable-salad-600nw-1213270315.jpg")
      no-repeat center center / cover;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 70px;
  color: white;
  padding: 0 60px;
  box-sizing: border-box;
}

.hero-content {
  max-width: 1500px;
  max-height: 70px;
  flex: 50%;
  text-align: left;
}

.hero h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
